<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ali.example.tutorapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorApp">
        <activity android:name=".Phynotes"></activity>
        <activity android:name=".Mathssolution" />
        <activity android:name=".Biosolution" />
        <activity android:name=".ChemSolution" />
        <activity android:name=".Physolution" />
        <activity android:name=".mathsquiz" />
        <activity android:name=".Bioquiz" />
        <activity android:name=".Chemquiz" />
        <activity android:name=".Phyquiz" />
        <activity android:name=".Mathsnotes" />
        <activity android:name=".Bionotes" />
        <activity android:name=".Chemnotes" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>